// set custom hex colors
$siteBgColorCustom: #FFFFFF;
$sidebarBgColorCustom: #dbdbd2;
$textColorCustom: #535859; //body text
$sidebarTextColorCustom: #F8F4F2;
$headlineColorCustom: #527186; //Name on home page
$headingColorCustom: #4B646C;
$bodyLinkColorCustom: #477288; //project titles and pub links
$navLinkColorCustom: #9A081E; //Icons 
$sidebarLinkColorCustom: #9A081E;
$footerTextColorCustom: #918f8d;
$buttonTextColorCustom: #f7f7f7;
$buttonHoverTextColorCustom: #f7f7f7;
$buttonBgColorCustom: #f7f7f7;
$buttonHoverBgColorCustom: #f7f7f7;
$borderColorCustom: #f7f7f7;